@mixin year{
    width: 120px;
    height: 50px;
    border: 4px solid #dae9ff;
    border-radius: 25px;
    background-color: #FFF;
    font-family: Din Next Bold;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #4492fe;
    padding: 5px 20px;
    position: relative;
    right: 25px;
    @media screen and (min-width:320px) and (max-width:767px){
        font-size: 20px;
        right: 20px;  
    }
}
.roadmap{
    margin-top: 130px;
    @media screen and (min-width:320px) and (max-width:767px){
        margin-top: 55px;
    }
    &-heading{
        font-family: Din Next Bold;
        font-size: 48px;
        font-weight: bold;
        text-align: center;
        color: #4492fe;
        @media screen and (min-width:320px) and (max-width:767px){
            font-size: 36px;
        }
    }
    #progress{
        margin: 75px 43%;
        @media screen and (min-width:320px) and (max-width:767px){
             margin: 50px 30%;   
        }
        @media screen and (min-width:768px) and (max-width:991px){
            margin: 75px 40%;   
        }
    }
    .node {
        height: 18px;
        width: 18px;
        border-radius: 50%;
        display:inline-block;
        &.year{
            &-2014:before{
                content: "2014";
                @include year;
            }
            &-2015:before{
                content: "2015";
                @include year;
            }
            &-2016:before{
                content: "2016";
                @include year;
            }
            &-2017:before{
                content: "2017";
                @include year;
            }
            &-2018:before{
                content: "2018";
                @include year;
            }
            &-2019:before{
                content: "2019";
                @include year;
            }
            &-2020:before{
                content: "2020";
                @include year;
            }
        }
        &.round{
            background-image: linear-gradient(to bottom, #79c4ff, #4492fe);
            border: solid 4px #dae9ff;
            left: 20px;
            top: 5px;
            position: relative;
            margin-top: -10px;
        }
        &.round:before{
            content: "";
            position: relative;
            width: 61px;
            height: 4px;
            border-radius: 2px;
            background-color: #dae9ff;
            display: inline-block;
            top: 1px;
            right: 62px;
        }
        &.round.right:before{
            content: "";
            position: relative;
            width: 61px;
            height: 4px;
            border-radius: 2px;
            background-color: #dae9ff;
            display: inline-block;
            top: 2px;
            left: 12px;
        }
    }
        
    .divider {
        height: 60px;
        width: 8px;
        opacity: 0.2;
        background-color: #4492fe;
        margin-left: 25px;
        margin-top: 5px;
        margin-bottom: -1px;
        @media screen and (min-width:320px) and (max-width:767px){
            margin-top: 3px;
        }
        &.div{
            &-1{
                height: 35px;
            }
            &-2{
                height: 90px;
            }
            &-3{
                height: 35px;
            }
            &-4{
                height: 74px;
            }
            &-5{
                height: 110px;
            }
            &-6{
                height: 40px;
            }
        }

    }
    
    li p {
        display: inline-block;
        margin-left: -390px;
        font-family: Din Next;
        font-size: 24px;
        line-height: 1.17;
        color: #103363;
        width: 322px;
        float: left;
        text-align: right;
        margin-top: -20px;
        @media screen and (min-width:320px) and (max-width:767px){
                line-height: 1;
                font-size: 15px;
                margin-left: -150px;
                width: 100px;
                letter-spacing: 1px;
                word-break: break-word;
            }
        @media screen and (min-width:768px) and (max-width:991px){
            width: 300px;  
        }    
        &.para-right{
            margin-left: 130px;
            margin-top: -30px;
            text-align: left;
            @media screen and (min-width:320px) and (max-width:767px){
                margin-left: 110px;
                margin-top: -30px;
            }
        }
    }
    
    li {
        list-style: none;
        line-height: 0px;
    }
}