.email-subscription-form{
  min-width: 495px;
  float: left;
  border: solid 2px #ffffff;
  max-height: 60px;
  border-radius: 30px;
  padding: 5px;
  margin-top: 41px;
  @media screen and (min-width:320px) and (max-width:767px){
    min-width: 340px;
    letter-spacing: 1px;
    padding: 10px 0;
    float: none;
    margin-top: 30px;
  }
  
  &-wrapper{
    input[type="email"] {
      border: 0;
      outline: 0;
      background: inherit;
      padding: 5px 10px 10px 10px;
      width: 430px;
      font-family: Din Next Medium;
      font-size: 24px;
      font-weight: 500;
      color: #ffffff;
      @media screen and (min-width:320px) and (max-width:767px){
        width: 275px;
        font-size: 17px;
      }
    }
    input::-webkit-input-placeholder {
      font-family: Din Next Medium;
      font-size: 24px;
      font-weight: 500;
      color: #ffffff;
      @media screen and (min-width:320px) and (max-width:767px){
        font-size: 17px;
        padding: 0px;
      }
    }
    input::-moz-placeholderr {
      font-family: Din Next Medium;
      font-size: 24px;
      font-weight: 500;
      color: #ffffff;
      @media screen and (min-width:320px) and (max-width:767px){
        font-size: 17px;
      }
    }
     
    button {
      outline: none;
      background-color: #fff;
      border-radius: 55%;
      color: #4492fe;
      border: none;
      width: 48px;
      height: 48px; 
      @media screen and (min-width:320px) and (max-width:767px){
        float: right;
        margin: -6px 6px 15px 0;
      }
  } 
  }     
}
