.email-subscription-form{
  max-width: 495px;
  float: left;
  border: solid 2px #ffffff;
  max-height: 60px;
  border-radius: 30px;
  padding: 5px;
  margin-top: 41px;
  
  &-wrapper{
    input[type="email"] {
      border: 0;
      outline: 0;
      background: inherit;
      padding: 10px 10px 10px 10px;
      width: 430px;
      color: #ffffff;
    }
    input::-webkit-input-placeholder {
      font-family: Din Next Medium;
      font-size: 24px;
      font-weight: 500;
      color: #ffffff;
    }
    input::-moz-placeholderr {
      font-family: Din Next Medium;
      font-size: 24px;
      font-weight: 500;
      color: #ffffff;
    }
     
    button {
      outline: none;
      background-color: #fff;
      border-radius: 55%;
      color: #4492fe;
      border: none;
      width: 48px;
      height: 48px; 
  } 
  }     
}
