.Hero-image-text{
  @media screen and (min-width:320px) and (max-width:767px){
    background-image: unset;
    background-color: #4492fe;
  }
  @media (-webkit-min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi) { 
    background:url('..//../assets/images/hero_section_bg@2x.png') no-repeat top left;
  }
  text-align: center;
  background-image: url('..//../assets/images/hero_section_bg.png');
  height: 800px;
  width: 100%;
  &-logo{
    background-image: url('..//../assets/images/nht-logo.svg');
    padding:0;
    float: none;
    display: block;
    width: 110px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 41px;
  }
  &-header{
    color: #fff;
    font-family: Din Next Heavy;
    font-weight: 900;
    text-align: left;
    font-size: 64px;
    margin-top: 71px;
    @media screen and (min-width:320px) and (max-width:767px){
      font-size: 35px
    }
  }
  &-subtext{
    font-family: Din Next Medium;
    font-size: 32px;
    font-weight: 500;
    color: #fff;
    text-align: left;
    max-width: 570px;
    margin-top: 17px;
    @media screen and (min-width:320px) and (max-width:767px){
      font-size: 20px
    }
  }
}
