.Hero-image-text {
  text-align: center;
  background-image: url("..//../assets/images/hero_section_bg.png");
  height: 800px;
  width: 100%; }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .Hero-image-text {
      background-color: #4492fe;
      height: 675px; } }
  .Hero-image-text-logo {
    background-image: url("..//../assets/images/nht-logo.svg");
    padding: 0;
    display: block;
    width: 110px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: left;
    margin-top: 41px; }
  .Hero-image-text-investor {
    position: absolute;
    right: 0;
    top: 11%;
    border-radius: 20px;
    padding: 13px 18px 10px;
    background-color: #ffffff;
    font-family: Din Next Bold;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #123565; }
  .Hero-image-text-header {
    color: #fff;
    font-family: Din Next Heavy;
    font-weight: 900;
    text-align: left;
    font-size: 64px;
    margin-top: 71px; }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      .Hero-image-text-header {
        font-size: 35px; } }
  .Hero-image-text-subtext {
    font-family: Din Next Medium;
    font-size: 32px;
    font-weight: 500;
    color: #fff;
    text-align: left;
    max-width: 671px;
    margin-top: 17px; }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      .Hero-image-text-subtext {
        font-size: 20px; } }

@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .Hero-image-text {
    background: url("..//../assets/images/hero_section_bg@2x.png") no-repeat;
    background-size: 100%;
    height: 935px; } }
  @media only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 320px) and (max-width: 767px), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px), only screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px) {
    .Hero-image-text {
      background: url("..//../assets/images/mobile_hero_bg@2x.png") no-repeat;
      background-size: 100%;
      background-color: #4492fe; } }
