.press-coverage-container{
  margin-top: 50px;  
  margin-bottom: 5px;
  background: #ecf4fe;
  padding: 40px 0px;
  .slick-list {
    margin: 0px 20px;
  }
  @media screen and (min-width:320px) and (max-width:767px){
    //background-color: white;
    background: #ecf4fe;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -1px;
  }
  .press-coverage-heading{
      font-family: Din Next Medium;
      font-size: 36px;
      /* font-weight: bold; */
      text-align: center;
      color: #4492fe;
      margin-left: 15px;
  }
  .press-coverage-links{
      margin-top: 25px;
      .press-coverage-link{
          margin-right: 45px;
          //margin-right: 20px;
          @media screen and (min-width:768px) and (max-width:991px){
            margin-right: 35px;
          }
          img{
              @media screen and (min-width:320px) and (max-width:767px){
                  width: 65%;
                  display: block;
                  // margin-bottom: 20px;
                  margin: 10px auto;
              }
          }
      }
  }
}
.our-partners{
    @media screen and (min-width:320px) and (max-width:767px){
      margin-top: 50px;
    }
    &-heading{
        font-family: Din Next Medium;
        font-size: 36px;
       /* font-weight: bold; */
        text-align: center;
        color: #4492fe;
        margin-bottom: 30px;
        margin-top: 40px;
    }
    &-subheading{
      font-family: Din Next Medium;
      font-size: 24px;
      color: #103363;
      text-align: center;
      margin-bottom: 40px;
    }
    &-section-container{
      text-align: center;
    }

    &-image-container{
      border-radius: 8px;
      img{
        &.our-partners-selector-image{
          // width: 320px;
          // height: 200px;
          width: 100%;
          height: 300px;
          margin-bottom: 20px;
          border-radius: 8px;
        }
      }
    }
    &-logo-name-container{
      .our-partners-logo{
        width: 60px;
        height: 60px;
        background-color: white;
      }
      .our-partners-name{
        font-family: Din Next Medium;
        font-size: 24px;
        font-weight: 500;
        color: #103363;
        margin-top: 15px;
      }
    }
}
