.ico-values-tabs {
  display: block; }
  .ico-values-tabs .our-partners-heading {
    margin-bottom: 45px;
    margin-top: 50px; }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      .ico-values-tabs .our-partners-heading {
        font-size: 36px;
        margin-bottom: 50px; } }
  .ico-values-tabs .values-content-container .values-text-container {
    padding: 10px;
    float: left;
    border-radius: 43px;
    background-origin: border-box;
    background-clip: content-box, border-box; }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      .ico-values-tabs .values-content-container .values-text-container {
        margin: 0 -60px;
        margin-bottom: 40px; } }
    .ico-values-tabs .values-content-container .values-text-container .para {
      margin-bottom: 40px; }
    .ico-values-tabs .values-content-container .values-text-container h2.value-text-heading {
      font-family: Din Next Medium;
      font-size: 25px;
      /* font-weight: bold; */
      margin-left: 10px;
      padding-bottom: 32px; }
      @media screen and (min-width: 320px) and (max-width: 767px) {
        .ico-values-tabs .values-content-container .values-text-container h2.value-text-heading {
          text-align: center; } }
    .ico-values-tabs .values-content-container .values-text-container p {
      display: inline-block;
      font-family: Din Next;
      font-size: 22px;
      line-height: 1.29;
      color: #103363;
      margin-left: 30px;
      width: 80%; }
    .ico-values-tabs .values-content-container .values-text-container.user h2.value-text-heading {
      color: #4492fe; }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      .ico-values-tabs .values-content-container .values-text-container.user {
        background-image: none; } }
    .ico-values-tabs .values-content-container .values-text-container.service-provider h2.value-text-heading {
      color: #635ce4; }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      .ico-values-tabs .values-content-container .values-text-container.service-provider {
        background-image: none; } }
    .ico-values-tabs .values-content-container .values-text-container.insurance-company {
      background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(to right, #ffffff, #fcf0d4); }
      .ico-values-tabs .values-content-container .values-text-container.insurance-company h2.value-text-heading {
        color: #f4c147; }
      @media screen and (min-width: 320px) and (max-width: 767px) {
        .ico-values-tabs .values-content-container .values-text-container.insurance-company {
          background-image: none; } }
    .ico-values-tabs .values-content-container .values-text-container.medical-researcher {
      background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(to left, #ffffff, #ebf9f2); }
      .ico-values-tabs .values-content-container .values-text-container.medical-researcher h2.value-text-heading {
        color: #3bc37e; }
      @media screen and (min-width: 320px) and (max-width: 767px) {
        .ico-values-tabs .values-content-container .values-text-container.medical-researcher {
          background-image: none; } }
  .ico-values-tabs ul.nav-tabs {
    border: none;
    margin-bottom: 75px; }
    .ico-values-tabs ul.nav-tabs li {
      width: 50%;
      text-align: center;
      font-family: Din Next Bold;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 2px; }
      .ico-values-tabs ul.nav-tabs li.active a, .ico-values-tabs ul.nav-tabs li:hover a {
        border-radius: 30px;
        border: solid 2px; }
      .ico-values-tabs ul.nav-tabs li.active.user a, .ico-values-tabs ul.nav-tabs li:hover.user a {
        color: #4492fe; }
      .ico-values-tabs ul.nav-tabs li.active.service-provider a, .ico-values-tabs ul.nav-tabs li:hover.service-provider a {
        color: #635ce4; }
      .ico-values-tabs ul.nav-tabs li.active.insurance-company a, .ico-values-tabs ul.nav-tabs li:hover.insurance-company a {
        color: #f4c147; }
      .ico-values-tabs ul.nav-tabs li.active.medical-researchers a, .ico-values-tabs ul.nav-tabs li:hover.medical-researchers a {
        color: #3bc37e; }
      .ico-values-tabs ul.nav-tabs li a {
        border: none;
        color: #103363; }
        .ico-values-tabs ul.nav-tabs li a:hover {
          background-color: #fff; }
      @media screen and (min-width: 320px) and (max-width: 767px) {
        .ico-values-tabs ul.nav-tabs li {
          width: 50%; } }

@media screen and (min-width: 320px) and (max-width: 767px) {
  #ico-values-tabs {
    display: none; } }

@media screen and (min-width: 768px) {
  #ico-values-tabs {
    display: block; } }

.mobile-only-container .values-content-container h2.value-text-heading {
  font-family: Din Next Bold;
  font-weight: bold;
  margin-left: 10px;
  text-align: center;
  margin-bottom: 35px;
  font-size: 30px; }
  .mobile-only-container .values-content-container h2.value-text-heading.user {
    color: #4492fe; }
  .mobile-only-container .values-content-container h2.value-text-heading.service-provider {
    color: #635ce4; }
  .mobile-only-container .values-content-container h2.value-text-heading.insurance-company {
    color: #f4c147; }
  .mobile-only-container .values-content-container h2.value-text-heading.medical-researchers {
    color: #3bc37e; }

.mobile-only-container .values-content-container .para {
  margin-bottom: unset !important; }
  .mobile-only-container .values-content-container .para p {
    text-align: center; }

.mobile-only-container .values-content-container .values-image-container .image-card-image {
  width: 80%;
  margin-left: 30px; }

.mobile-only-container .values-content-container .values-text-container .image-card-image {
  width: 15%;
  display: block;
  margin: 20px auto; }

@media screen and (min-width: 320px) and (max-width: 767px) {
  .mobile-only-container {
    display: block; } }

@media screen and (min-width: 768px) {
  .mobile-only-container {
    display: none; } }
