.contact-us{
  background-color: #01126b;
  margin-top: 170px;
  @media screen and (min-width:320px) and (max-width:767px){
    margin-top: 100px;
  }
  &-container{
    // background-color: #4492fe;
    text-align: center;
    // border-radius: 500px 500px 0 0;
    padding-top: 50px;
    @media screen and (min-width:320px) and (max-width:767px){
      border-radius: unset;
      margin: 0 -15px;
      padding-top: 30px;
    }
    h4.contact-heading{
      font-family: Din Next Heavy;
      font-size: 36px;
      font-weight: 900;
      text-align: center;
      color: #ffffff;
    }
    p.contact-sub-heading{
      font-family: Din Next;
      font-size: 24px;
      text-align: center;
      color: #ffffff;
    }
    .telegram-content {
      text-align: center;
      float: none;
      display: inline-block;
      @media screen and (min-width:320px) and (max-width:767px){
        padding: 0;
        margin: auto 10px
      }
    }
    .email-content {
      float: none;
      display: inline-block;
      @media screen and (min-width:320px) and (max-width:767px){
        padding: 0;
        margin: auto 10px
      }
    }
    .social-share-links{
      margin-top: 69px;
    }
    .social-share-link{
      margin-right: 8px;
    }
    .copyright-text{
      font-family: Din Next;
      font-size: 14px;
      text-align: center;
      color: #ffffff;
      margin: 25px 0 30px 0;
    }
  }
}