.download-link-container{
    margin-top: 160px;
    @media screen and (min-width:320px) and (max-width:767px){
        margin-top: unset;
    }
    .download-links-container{
            background-image: url('..//../assets/images/more_about_us.png');
            background-size: 100%;
            height: 500px;
            background-repeat: no-repeat;
            @media screen and (min-width:320px) and (max-width:767px){
                background-image:unset;
                width: unset;
                height: unset;
              }
              @media screen and (min-width:768px) and (max-width:991px){
                background-image:unset;
                width: unset;
                height: unset;
              }  
            .donwload-links-heading{
                font-family: Din Next Bold;
                font-size: 40px;
                font-weight: bold;
                color: #4492fe;
                margin-top: 95px;
                margin-bottom: 25px;
                @media screen and (min-width:320px) and (max-width:767px){
                    font-size: 30px;
                    text-align: center;
                  }
            }
            .donwload-link-image-container{
                padding-top: 125px;
                @media screen and (min-width:320px) and (max-width:767px){
                    margin-bottom: 50px;
                    text-align: center;
                    padding-top: unset;
                  }
            }
            img.donwload-link-image {
                // position: absolute;
            }
            a.donwload-link-anchor {
                position: absolute;
                top: 325px;
                left: 65px;
                font-family: Din Next Bold;
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 4px;
                color: #103363;
                text-transform: uppercase;
                @media screen and (min-width:320px) and (max-width:767px){
                    left:100px;
                    top: 200px;
                }
            }
        } 
}
@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
.download-links-container {
    background: url('..//../assets/images/more_about_us@2x.png') no-repeat;
    background-size: 100%;
    @media screen and (min-width:320px) and (max-width:767px){
        background-image:unset;
        width: unset;
        height: unset;
    }
  }
}
  