.ico-summary{
    margin-top: 150px;
    background-image: linear-gradient(bottom, #ecf4fe 50%, #fff 50%);
    background-image: -o-linear-gradient(bottom, #ecf4fe 50%, #fff 50%);
    background-image: -moz-linear-gradient(bottom, #ecf4fe 50%, #fff 50%);
    background-image: -webkit-linear-gradient(bottom, #ecf4fe 50%, #fff 50%);
    background-image: -ms-linear-gradient(bottom, #ecf4fe 50%, #fff 50%);
    &-container{
        background-image: url('..//../assets/images/oval-8.svg');
        width: 1024px;
        height: 1024px;
        background-repeat: no-repeat;
        text-align: center;
        font-family: Din Next Bold;
    }
    &-heading{
        margin-top: 140px;
        h4{
            font-size: 48px;
            font-weight: bold;
            letter-spacing: normal;
            color: #ffffff;
        }
        p{
            width: 70px;
            height: 8px;
            opacity: 0.1;
            background-color: #ffffff;
            display: inline-block;
        }
    }
    &-token-name{
        margin-top: 21px;
        h4{
            font-size: 54px;
            font-weight: bold;
            color: #4492fe;
        }
        p{
            opacity: 0.5;
            font-size: 24px;
            font-weight: bold;
            letter-spacing: 4px;
            color: #ffffff;
        }
    }
    &-token-count{
        margin-top: 45px;
        h4{
            font-size: 54px;
            font-weight: bold;
            color: #3bc37e;
        }
        p{
            opacity: 0.5;
            font-size: 24px;
            letter-spacing: 4px;
            text-align: center;
            color: #ffffff; 
        }
    }
    &-token-circulation{
        margin-top: 37px;
        h4{
            font-size: 54px;
            font-weight: bold;
            text-align: center;
            color: #8a83ff;
        }
        p{
            opacity: 0.5;
            font-size: 24px;
            font-weight: bold;
            letter-spacing: 4px;
            text-align: center;
            color: #ffffff;   
        }
    }
    &-token-price{
        margin-top: 66px;
        h4{
            font-size: 54px;
            font-weight: bold;
            text-align: center;
            color: #fed980;
        }
        p{
            opacity: 0.5; 
            font-size: 24px;
            font-weight: bold;
            letter-spacing: 4px;
            text-align: center;
            color: #ffffff;
        }
    }
}