.image-card {
  text-align: center; }
  .image-card-header {
    font-family: Din Next Medium;
    font-size: 32px;
    color: #103363;
    margin-top: 150px; }
  .image-card-sub-header {
    font-family: Din Next Bold;
    font-size: 48px;
    font-weight: bold;
    color: #4492fe;
    margin-top: 11px;
    margin-bottom: 45px; }
  .image-card-container .image-card-image-1 {
    border-radius: 0 0 10px 0; }
  .image-card-container .image-card-text-1 {
    border-radius: 0 10px 0 0;
    background-color: #fdcf78;
    min-height: 350px;
    min-width: 512px;
    width: 100%;
    float: left;
    text-align: center; }
    .image-card-container .image-card-text-1 h4 {
      font-family: Din Next Bold;
      font-size: 36px;
      font-weight: bold;
      text-align: center;
      color: #172436;
      margin-top: 112px; }
    .image-card-container .image-card-text-1 p {
      font-family: Din Next;
      font-size: 24px;
      line-height: 1.33;
      text-align: center;
      color: #172436; }
    .image-card-container .image-card-text-1 a {
      font-family: Din Next Bold Italic;
      font-size: 16px;
      font-weight: bold;
      font-style: italic;
      line-height: 2;
      letter-spacing: 3px;
      text-align: center;
      color: #7a5816; }
  .image-card-container .image-card-text-2 {
    min-height: 350px;
    min-width: 512px;
    background-color: #3bc37e;
    color: #fff; }
    .image-card-container .image-card-text-2 h4 {
      font-family: Din Next Bold;
      font-size: 36px;
      font-weight: bold;
      text-align: center;
      padding: 112px 20px 0 20px;
      margin-top: 0; }
    .image-card-container .image-card-text-2 p {
      font-family: Din Next;
      font-size: 24px;
      line-height: 1.33;
      text-align: center; }
  .image-card-container .image-card-text-3 {
    min-height: 350px;
    min-width: 512px;
    background-color: #4492fe;
    color: #fff; }
    .image-card-container .image-card-text-3 h4 {
      font-family: Din Next Bold;
      font-size: 36px;
      font-weight: bold;
      text-align: center;
      padding: 112px 20px 0 20px;
      margin-top: 0; }
    .image-card-container .image-card-text-3 p {
      font-family: Din Next;
      font-size: 24px;
      line-height: 1.33;
      text-align: center; }
  .image-card-container .image-card-text-4 {
    min-height: 350px;
    min-width: 512px;
    border-radius: 0 0 0 10px;
    background-color: #635ce4;
    color: #fff; }
    .image-card-container .image-card-text-4 h4 {
      font-family: Din Next Bold;
      font-size: 36px;
      font-weight: bold;
      text-align: center;
      padding: 112px 20px 0 20px;
      margin-top: 0; }
