.image-card {
  text-align: center; }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .image-card {
      margin: 0 -10px; } }
  .image-card-header {
    font-family: Din Next Medium;
    font-size: 32px;
    color: #103363;
    margin-top: 150px; }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      .image-card-header {
        margin-top: 100px; } }
  .image-card-sub-header {
    font-family: Din Next Bold;
    font-size: 48px;
    font-weight: bold;
    color: #4492fe;
    margin-top: 11px;
    margin-bottom: 45px; }
  .image-card-para {
    font-family: Din Next;
    font-size: 24px;
    text-align: center;
    color: #103363; }
  @media screen and (min-width: 768px) {
    .image-card-container .padding-right {
      padding-right: 0px; } }
  @media screen and (min-width: 768px) {
    .image-card-container .padding-left {
      padding-left: 0px; } }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .image-card-container .image-card-image-1 {
      border-radius: unset;
      width: 100%; } }
  .image-card-container .image-card-image {
    border-radius: 10px 10px 0 0;
    margin-top: 30px;
    width: 100%;
    height: 350px; }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      .image-card-container .image-card-image {
        width: 100%;
        height: 100%; } }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .image-card-container .image-card-image {
        width: 100%;
        height: 350px; } }
  .image-card-container .image-card-text-1 {
    border-radius: 0 0 10px 10px;
    background-color: #fdcf78;
    max-height: 180px;
    width: 100%;
    float: left;
    text-align: center;
    padding: 10px 0; }
    .image-card-container .image-card-text-1 h4 {
      font-family: Din Next Bold;
      font-size: 32px;
      font-weight: bold;
      text-align: center;
      color: #172436; }
      @media screen and (min-width: 320px) and (max-width: 767px) {
        .image-card-container .image-card-text-1 h4 {
          margin-top: 30px; } }
    .image-card-container .image-card-text-1 p {
      font-family: Din Next;
      font-size: 24px;
      line-height: 1.33;
      text-align: center;
      color: #172436; }
    .image-card-container .image-card-text-1 a {
      font-family: Din Next Bold Italic;
      font-size: 16px;
      font-weight: bold;
      font-style: italic;
      line-height: 2;
      letter-spacing: 3px;
      text-align: center;
      color: #7a5816; }
      @media screen and (min-width: 320px) and (max-width: 767px) {
        .image-card-container .image-card-text-1 a {
          padding-bottom: 30px; } }
  .image-card-container .image-card-text-2 {
    border-radius: 0 0 10px 10px;
    max-height: 180px;
    width: 100%;
    background-color: #3bc37e;
    color: #fff;
    padding: 40px 0; }
    .image-card-container .image-card-text-2 h4 {
      font-family: Din Next Bold;
      font-size: 32px;
      font-weight: bold;
      text-align: center;
      margin-top: 0; }
      @media screen and (min-width: 320px) and (max-width: 767px) {
        .image-card-container .image-card-text-2 h4 {
          padding-top: 30px; } }
    .image-card-container .image-card-text-2 p {
      font-family: Din Next;
      font-size: 24px;
      line-height: 1.33;
      text-align: center; }
      @media screen and (min-width: 320px) and (max-width: 767px) {
        .image-card-container .image-card-text-2 p {
          padding-bottom: 30px; } }
  .image-card-container .image-card-text-3 {
    border-radius: 0 0 10px 10px;
    max-height: 180px;
    width: 100%;
    background-color: #4492fe;
    color: #fff;
    padding: 40px 0; }
    .image-card-container .image-card-text-3 h4 {
      font-family: Din Next Bold;
      font-size: 32px;
      font-weight: bold;
      text-align: center;
      margin-top: 0; }
      @media screen and (min-width: 320px) and (max-width: 767px) {
        .image-card-container .image-card-text-3 h4 {
          padding-top: 30px; } }
    .image-card-container .image-card-text-3 p {
      font-family: Din Next;
      font-size: 24px;
      line-height: 1.33;
      text-align: center; }
      @media screen and (min-width: 320px) and (max-width: 767px) {
        .image-card-container .image-card-text-3 p {
          padding-bottom: 30px; } }
  .image-card-container .image-card-text-4 {
    border-radius: 0 0 10px 10px;
    max-height: 180px;
    width: 100%;
    background-color: #635ce4;
    color: #fff;
    padding: 15px 0; }
    .image-card-container .image-card-text-4 h4 {
      font-family: Din Next Bold;
      font-size: 29px;
      font-weight: bold;
      text-align: center;
      margin-top: 0; }
      @media screen and (min-width: 320px) and (max-width: 767px) {
        .image-card-container .image-card-text-4 h4 {
          padding-top: 30px; } }

@media screen and (min-width: 320px) and (max-width: 767px) {
  [class^="image-card-text"] {
    min-height: unset !important;
    min-width: unset !important;
    border-radius: unset !important; } }
