.ico-distribution{
    background-color: #ecf4fe;
    &-left-image {
        padding: 40px;
        border: solid 10px #e1edfc;
        border-right: none;
        background-color: #fff;
        border-radius: 360px 0 0 360px;
        margin-right: -177px;
        @media screen and (min-width:320px) and (max-width:767px){
            margin-right: -15px; 
        }
        margin-top: 70px;
        .ico-distribution-image{
            img{
                width: 100%;
            }
        }
    }
    &-text{
        font-family: Din Next Bold;
        text-align: left;
        p{
            font-weight: bold;
            line-height: 1.33;
            letter-spacing: 4px;
            color: #103363;
            text-transform: uppercase;
        }
        h5{
            font-size: 36px;
            font-weight: bold;
        }
        .tech{
            margin-top: 30px;
        }
    
        .tech-per{
            color: #635ce4;
            margin-bottom: 30px;
        }
        
        .biz-per{
            color: #4492fe;
            margin-bottom: 30px;
        }
        .market-per{
            color:#3bc37e;
            margin-bottom: 30px;
        }
        .eco-per{
            color: #ee7051;
            margin-bottom: 30px;
        }
        .legal-per{
            color: #fdcf78;
            margin-bottom: 30px;
        }
        &-heading{
            opacity: 0.5;
            font-family: Din Next medium;
            font-size: 48px;
            font-weight: 500;
            color: #01126b;
            margin-bottom: 40px;
            @media screen and (min-width:320px) and (max-width:767px){
               font-size: 24px;
            }
        }    
    }
    &-right-image {
        padding: 40px;
        border: solid 10px #e1edfc;
        border-left: none;
        background-color: #fff;
        border-radius: 0px 360px 360px 0;
        margin-left: -177px;
        @media screen and (min-width:320px) and (max-width:767px){
            margin-left: -15px; 
        }
        margin-top: 70px;
        .ico-distribution-image{
            img{
                width: 100%;
            }
        }
        .ico-distribution-text{
            font-family: Din Next Bold;
            text-align: left;
            padding-left: 177px;
            @media screen and (min-width:320px) and (max-width:767px){
                padding-left: unset;
            }
            p{
                font-weight: bold;
                line-height: 1.33;
                letter-spacing: 4px;
                color: #103363;
                text-transform: uppercase;
            }
            h5{
                font-size: 36px;
                font-weight: bold;
            }
            .tech{
                margin-top: 30px;
            }
        
            .tech-per{
                color: #635ce4;
                margin-bottom: 30px;
            }
            
            .biz-per{
                color: #4492fe;
                margin-bottom: 30px;
            }
            .market-per{
                color:#3bc37e;
                margin-bottom: 30px;
            }
            .eco-sys{
                color: #f97352;
                margin-bottom: 30px;
            }
        }
    
    }
    &-double-container{
            border-radius: 360px;
            background-color: #ffffff;
            border: solid 10px #e1edfc;
            padding: 40px;
            margin-top: 70px;
            margin-bottom: 100px;
            p.wawa100{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-45%, 50%);
                font-family: Din Next Medium;
                font-size: 25px;
                font-weight: 500;
                text-align: center;
                color: #103363;
                opacity: 0.9;
                @media screen and (min-width:768px) and (max-width:991px){
                    font-size: 15px;
                    top: 55%;
                }
            }
            p.warma100{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-45%, 50%);
                font-family: Din Next Medium;
                font-size: 25px;
                font-weight: 500;
                text-align: center;
                color: #103363;
                opacity: 0.9;
                @media screen and (min-width:768px) and (max-width:991px){
                    font-size: 15px;
                    top: 55%;
                }
            }
        }
    &-double-text{
        text-align: center;
        font-family: Din Next Bold;
        text-transform: uppercase;
        &-1{
            font-size: 20px;
            font-weight: bold;
            line-height: 1.25;
            letter-spacing: 4px;
            text-align: center;
            color: #f97352;
            margin-top: 60px;
            @media screen and (min-width:768px) and (max-width:991px){
                font-size: 15px;
                margin-top: 10px;
            }
        }
        &-2{
            font-size: 20px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.6;
            letter-spacing: 4px;
            text-align: center;
            color: #635ce4;
            @media screen and (min-width:768px) and (max-width:991px){
                font-size: 15px;
            }
        }
    }
    }
