.image-text-desc {
  margin-top: 69px; }
  .image-text-desc-heading {
    font-family: Din Next Bold;
    font-size: 48px;
    font-weight: bold;
    color: #4492fe;
    margin-top: 90px; }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      .image-text-desc-heading {
        margin-top: 0px; } }
  .image-text-desc-text {
    font-family: Din Next;
    font-size: 24px;
    line-height: 1.33;
    color: #103363;
    margin-top: 19px;
    max-width: 459px;
    word-break: keep-all; }
  .image-text-desc .combined-text-box {
    margin-top: 45px; }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      .image-text-desc .combined-text-box {
        float: left;
        margin-bottom: 275px; } }
  .image-text-desc .combined-text-image, .image-text-desc .combined-text-description {
    position: absolute; }
  .image-text-desc span.combined-text-description {
    position: absolute;
    padding: 30px;
    margin: 0;
    font-family: Din Next Medium Italic;
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
    color: #635ce4;
    line-height: 1; }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      .image-text-desc span.combined-text-description {
        font-size: 30px; } }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .image-text-desc span.combined-text-description {
        font-size: 30px;
        margin: 15px; } }
