@import 'node_modules/react-modal-video/scss/modal-video.scss';
.image-text-desc{
    //min-height: 756px;
     min-height: 480px;
    // background: url('..//../assets/images/video-bg.png') no-repeat;
    background-position: right;
    @media screen and (min-width:320px) and (max-width:767px){
        background-image: none;
        padding: 0;
        margin-top: 40px;
    }
    @media only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2) {
        // background: url('..//../assets/images/video-bg@2x.png') no-repeat;
        // background-size: 38%;
        // background-position: right;
        @media screen and (min-width:320px) and (max-width:767px){
            background-image: none;
            // padding: 0;
        }
    }
    // margin-top: 69px;
    &-heading{
        font-family: Din Next Medium;
        font-size: 36px;
        /* font-weight: bold; */
        color: #4492fe;
        margin-top: 64px;
        @media screen and (min-width:320px) and (max-width:767px){
            margin-top: 0px;
        } 
        @media screen and (min-width:768px) and (max-width:991px){
           font-size: 24px;
        }    
    }
    &-text{
        font-family: Din Next light;
        font-size: 24px;
        line-height: 1.33;
        color: #103363;
        margin-top: 19px;
        max-width: 459px;
        word-break: keep-all;
        @media screen and (min-width:768px) and (max-width:991px){
           font-size: 16px;
        } 
    }
    &-learn{
        img{
            width:100%;
        }
        font-family: Din Next Bold;
        text-align: left;
        color: #337ab7;
        @media screen and (min-width:320px) and (max-width:767px){
          margin: 40px 0px;
          
        }
    }
    &-pager{
        img{
            width:80%;
        }
        span {
          position: absolute;
          top: 94px;
          left: 17px;
        }
        font-family: Din Next Bold;
        text-align: center;
        @media screen and (min-width:320px) and (max-width:767px){
          img{
            width:30%;
          }
        }
    }
    &-investor-desk{
        img{
            width:80%;
        }
        span {
          position: absolute;
          top: 94px;
          left: 17px;
        }
        font-family: Din Next Bold;
        text-align: center;
        @media screen and (min-width:320px) and (max-width:767px){
          img{
            width:30%;
          }
        }
    }
    &-white-paper{
        img{
            width:80%;
        }
        span {
          position: absolute;
          top: 94px;
          left: 17px;
        }
        font-family: Din Next Bold;
        text-align: center;
        @media screen and (min-width:320px) and (max-width:767px){
          img{
            width:30%;
          }
        }
    }
    &-white-paper-container{
      margin-top: 70px;
      p{
        margin-top: 14px;
        font-size: 14px;
      }
      @media screen and (min-width:320px) and (max-width:767px){
        margin-top: 70px;
        p{
          margin-top: 14px;
          font-size: 21px;
        }
      }
      @media screen and (min-width:768px) and (max-width:991px){
        margin-top: 70px;
        p{
          margin-top: 14px;
          font-size: 9px;
        }
      }
    }

    .youtube-paceholder-image-container{
        //position: absolute;
        //top: 255px;
        //right: 200px;
        cursor: pointer;
        margin-top: 70px;
        @media screen and (min-width:768px) and (max-width:991px){
            right: 160px;
        }  
        @media screen and (min-width:320px) and (max-width:767px){
            position: unset;
            top: unset;
            right: unset;
            // margin-top: -30px;
            // margin-bottom: -30px;
            .youtube-paceholder-image{
                width: 100%;
            }
        }
        .youtube-paceholder-image{
            //border-radius: 30px;
            @media screen and (min-width:768px) and (max-width:991px){
                //border-radius: 10px;
            }
        }
    }
    .combined-text-box {
        margin-top: 45px;
        @media screen and (min-width:320px) and (max-width:767px){
            float: left;
            margin-bottom: 275px;
          }
    }
    .combined-text-image,.combined-text-description{
        position: absolute;
    }
    span.combined-text-description {
        position: absolute;
        padding: 30px;
        margin: 0;
        font-family: Din Next Medium Italic;
        font-size: 40px;
        font-weight: 500;
        font-style: italic;
        color: #635ce4;
        line-height: 1;
        @media screen and (min-width:320px) and (max-width:767px){
            font-size: 25px;
          }
        @media screen and (min-width:768px) and (max-width:991px){
            font-size: 30px;
            margin: 15px;
        }  
    }
}