@import 'node_modules/react-modal-video/scss/modal-video.scss';
.press-coverage-container{
    .press-coverage-heading{
        font-family: Din Next Bold;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 5px;
        color: #4492fe;
        text-transform: uppercase;
        margin-top: 70px;
        margin-left: 15px;
        @media screen and (min-width:320px) and (max-width:767px){
         text-align: center;
        } 
    }
    .press-coverage-links{
        margin-top: 40px;
        .press-coverage-link{
            margin-right: 45px;
            img{
                @media screen and (min-width:320px) and (max-width:767px){
                    width: 100%;
                    display: block;
                    margin-bottom: 20px;
                }
            }
        }
    }
}
.image-text-desc{
    height: 756px;
    background: url('..//../assets/images/video-bg.png') no-repeat;
    @media screen and (min-width:320px) and (max-width:767px){
        background-image: none;
        padding: 0;
    }
    @media only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2) {
        background: url('..//../assets/images/video-bg@2x.png') no-repeat;
        background-size: 38%;
        background-position: right;
        @media screen and (min-width:320px) and (max-width:767px){
            background-image: none;
            // padding: 0;
        }
    }
    margin-top: 69px;
    &-heading{
        font-family: Din Next Bold;
        font-size: 48px;
        font-weight: bold;
        color: #4492fe;
        margin-top: 90px;
        @media screen and (min-width:320px) and (max-width:767px){
            margin-top: 0px;
        }    
    }
    &-text{
        font-family: Din Next;
        font-size: 24px;
        line-height: 1.33;
        color: #103363;
        margin-top: 19px;
        max-width: 459px;
        word-break: keep-all;
    }
    .youtube-paceholder-image-container{
        position: absolute;
        top: 255px;
        right: 0;
        cursor: pointer;
        @media screen and (min-width:320px) and (max-width:767px){
            position: unset;
            top: unset;
            // margin-top: -30px;
            // margin-bottom: -30px;
        }
        .youtube-paceholder-image{
            border-radius: 25px;
        }
    }
    .combined-text-box {
        margin-top: 45px;
        @media screen and (min-width:320px) and (max-width:767px){
            float: left;
            margin-bottom: 275px;
          }
    }
    .combined-text-image,.combined-text-description{
        position: absolute;
    }
    span.combined-text-description {
        position: absolute;
        padding: 30px;
        margin: 0;
        font-family: Din Next Medium Italic;
        font-size: 40px;
        font-weight: 500;
        font-style: italic;
        color: #635ce4;
        line-height: 1;
        @media screen and (min-width:320px) and (max-width:767px){
            font-size: 25px;
          }
        @media screen and (min-width:768px) and (max-width:991px){
            font-size: 30px;
            margin: 15px;
        }  
    }
}