.App {
  display: block;
  overflow: hidden; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.nomral-button-container {
  text-align: center;
  margin: 0 auto; }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .nomral-button-container {
      margin: 0 auto;
      text-align: center; } }

@media screen and (max-width: 320px) {
  .Hero-image-text-investor {
    font-size: 12px !important;
    margin-top: 10px !important; }
  .Normal-button-link, .telegram-button-link, .email-subscription-form {
    min-width: 286px !important;
    font-size: 10px !important; }
  .token-flow-header {
    left: 13% !important; } }

.sticky-telegram {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 5; }
  .sticky-telegram a {
    background: url(https://s3-ap-southeast-1.amazonaws.com/nanohealth-images/NHCT/logo-telegram.svg) no-repeat 0 0;
    background-size: 75px 75px;
    display: block;
    width: 75px;
    height: 75px;
    text-indent: -9999px;
    overflow: hidden; }
    .sticky-telegram a:before {
      background: #3b96ca;
      background: -moz-linear-gradient(top, #3b96ca 0, #4fafe4 100%);
      background: -webkit-linear-gradient(top, #3b96ca 0, #4fafe4 100%);
      background: linear-gradient(to bottom, #3b96ca 0, #4fafe4 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b96ca', endColorstr='#4fafe4', GradientType=0);
      animation: chat-out 1.5s infinite;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      z-index: -1; }
