@font-face {
  font-family: 'Din Next';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/din-next-lt/DIN Next LT Pro Regular.otf');
}
@font-face {
  font-family: 'Din Next Italic';
  font-style: italic;
  font-weight: 400;
  src: url('./assets/fonts/din-next-lt/DIN Next LT Pro Italic.otf');
}
@font-face {
  font-family: 'Din Next Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/din-next-lt/DIN Next LT Pro Condensed.otf');
}

@font-face {
  font-family: 'Din Next Black';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/din-next-lt/DIN Next LT Pro Black.otf');
}
@font-face {
  font-family: 'Din Next Black Italic';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/din-next-lt/DIN Next LT Pro Black Italic.otf');
}
@font-face {
  font-family: 'Din Next Black Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/din-next-lt/DIN Next LT Pro Black Condensed.otf');
}

@font-face {
  font-family: 'Din Next Bold';
  font-style: normal;
  font-weight: bold;
  src: url('./assets/fonts/din-next-lt/DIN Next LT Pro Bold.otf');
}
@font-face {
  font-family: 'Din Next Bold Italic';
  font-style: italic;
  font-weight: 400;
  src: url('./assets/fonts/din-next-lt/DIN Next LT Pro Bold Italic.otf');
}
@font-face {
  font-family: 'Din Next Bold Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/din-next-lt/DIN Next LT Pro Bold Condensed.otf');
}

@font-face {
  font-family: 'Din Next Heavy';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/din-next-lt/DIN Next LT Pro Heavy.otf');
}
@font-face {
  font-family: 'Din Next Heavy Italic';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/din-next-lt/DIN Next LT Pro Heavy Italic.otf');
}
@font-face {
  font-family: 'Din Next Heavy Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/din-next-lt/DIN Next LT Pro Heavy Condensed.otf');
}

@font-face {
  font-family: 'Din Next light';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/din-next-lt/DIN Next LT Pro Light.otf');
}
@font-face {
  font-family: 'Din Next light Italic';
  font-style: italic;
  font-weight: 400;
  src: url('./assets/fonts/din-next-lt/DIN Next LT Pro Light Italic.otf');
}
@font-face {
  font-family: 'Din Next Light Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/din-next-lt/DIN Next LT Pro Light Condensed.otf');
}

@font-face {
  font-family: 'Din Next Medium';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/din-next-lt/DIN Next LT Pro Medium.otf');
}
@font-face {
  font-family: 'Din Next Medium Italic';
  font-style: italic;
  font-weight: 400;
  src: url('./assets/fonts/din-next-lt/DIN Next LT Pro Medium Italic.otf');
}
@font-face {
  font-family: 'Din Next Medium Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/din-next-lt/DIN Next LT Pro Medium Cond.otf');
}

@font-face {
  font-family: 'Din Next Ultralight';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/din-next-lt/DIN Next LT Pro UltraLight.otf');
}
@font-face {
  font-family: 'Din Next Ultralight Italic';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/din-next-lt/DIN Next LT Pro UltraLight Italic.otf');
}
@font-face {
  font-family: 'Din Next Ultralight Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/din-next-lt/DIN Next LT Pro UltraLight Cond.otf');
}

body {
  margin: 0;
  padding: 0;
  font-family: Din Next;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  .container{
    //max-width: 1024px;
    max-width: 1170px;
    @media screen and (min-width:320px) and (max-width:767px){
      max-width: 767px;
    }
    @media screen and (min-width:768px) and (max-width:991px){
      max-width: 991px;
    }
  }
}
